In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

Create the Category and Subcategory DataFrames
Create a Category DataFrame that has the following columns:

A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
A "category" column that has only the categories.
Export the DataFrame as a category.csv CSV file.

Create a SubCategory DataFrame that has the following columns:

A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
A "subcategory" column that has only the subcategories.
Export the DataFrame as a subcategory.csv CSV file.

In [4]:
# Get the crowdfunding_info_df columns.
crowdfunding_info_df.columns

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [5]:

crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [6]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df['category'] = [crowdfunding_info_df['category & sub-category'][i].split('/')[0] for i in range(len(crowdfunding_info_df['category & sub-category']))]
crowdfunding_info_df['subcategory'] = [crowdfunding_info_df['category & sub-category'][i].split('/')[1] for i in range(len(crowdfunding_info_df['category'])) ]
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [7]:
# Get the unique categories and subcategories in separate lists.
categories = [category for category in crowdfunding_info_df['category'].unique()]
subcategories = [subcat for subcat in crowdfunding_info_df['subcategory'].unique()]
print(categories)
print(subcategories)

['food', 'music', 'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']
['food trucks', 'rock', 'web', 'plays', 'documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction', 'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz', 'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']

In [8]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(subcategories))

9
24

In [9]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [10]:
# Use a list comprehension to add "cat" to each category_id. 

# Use a list comprehension to add "subcat" to each subcategory_id.    
cat_ids = [f'cat{cat_id}' for cat_id in category_ids]
scat_ids = [f'subcat{scat_id}' for scat_id in subcategory_ids] 
print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [11]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({'category_id' : cat_ids, 'category': categories})
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_df = pd.DataFrame({'subcategory_id' : scat_ids, 'subcategory': subcategories})

In [12]:
category_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [13]:

subcategory_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [14]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

Campaign DataFrame
Create a Campaign DataFrame that has the following columns:

The "cf_id" column.
The "contact_id" column.
The “company_name” column.
The "blurb" column is renamed as "description."
The "goal" column.
The "goal" column is converted to a float datatype.
The "pledged" column is converted to a float datatype.
The "backers_count" column.
The "country" column.
The "currency" column.
The "launched_at" column is renamed as "launch_date" and converted to a datetime format.
The "deadline" column is renamed as "end_date" and converted to a datetime format.
The "category_id" with the unique number matching the “category_id” from the category DataFrame.
The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
And, create a column that contains the unique four-digit contact ID number from the contact.xlsx file.
Then export the DataFrame as a campaign.csv CSV file.

In [15]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [16]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df = campaign_df.rename(columns={'blurb':'description', 'launched_at':'launch_date', 'deadline':'end_date'})
campaign_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks,food,food trucks

In [17]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df = campaign_df.astype({'goal': 'float','pledged': 'float'})
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [18]:
# Check the datatypes
campaign_df.dtypes

cf_id                        int64
contact_id                   int64
company_name                object
description                 object
goal                       float64
pledged                    float64
outcome                     object
backers_count                int64
country                     object
currency                    object
launch_date                  int64
end_date                     int64
staff_pick                    bool
spotlight                     bool
category & sub-category     object
category                    object
subcategory                 object
dtype: object

In [19]:
# Format the launched_date and end_date columns to datetime format
import datetime

campaign_df['launch_date'] = campaign_df['launch_date'].apply(lambda d: datetime.date.fromtimestamp(d))
campaign_df['end_date'] = campaign_df['end_date'].apply(lambda t: datetime.date.fromtimestamp(t))
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,False,False,theater/plays,theater,plays

In [20]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
campaign_merged_df = pd.merge(campaign_df, category_df, how='outer', on=['category'])
campaign_merged_df = pd.merge(campaign_merged_df, subcategory_df, how='outer', on=['subcategory'])
campaign_merged_df.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
990,399,5983,"Dixon, Perez and Banks",Re-engineered encompassing definition,8300.0,2111.0,failed,57,CA,CAD,2021-12-29,2022-01-16,False,False,photography/photography books,photography,photography books,cat8,subcat15
991,1378,2873,Clements Ltd,Persistent bandwidth-monitored framework,3700.0,1343.0,failed,52,US,USD,2020-07-07,2021-07-27,False,False,photography/photography books,photography,photography books,cat8,subcat15
992,806,2961,Walter Inc,Streamlined 5thgeneration intranet,10000.0,8142.0,failed,263,AU,AUD,2020-12-20,2021-01-31,False,False,photography/photography books,photography,photography books,cat8,subcat15
993,1563,3043,"Sanders, Farley and Huffman",Cross-group clear-thinking task-force,172000.0,55805.0,failed,1691,US,USD,2021-04-08,2021-12-18,True,False,photography/photography books,photography,photography books,cat8,subcat15
994,1951,6013,Rodriguez-Robinson,Ergonomic methodical hub,5900.0,4997.0,failed,114,IT,EUR,2021-07-23,2021-11-25,False,True,photography/photography books,photography,photography books,cat8,subcat15
995,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800.0,7608.0,canceled,75,IT,EUR,2021-07-03,2021-07-08,False,True,photography/photography books,photography,photography books,cat8,subcat15
996,1095,3565,Young and Sons,Innovative disintermediate encryption,2400.0,4596.0,successful,144,US,USD,2020-11-28,2021-02-28,False,False,journalism/audio,journalism,audio,cat9,subcat24
997,1388,4517,Valenzuela-Cook,Total incremental productivity,6700.0,7496.0,successful,300,US,USD,2021-01-04,2021-10-04,False,False,journalism/audio,journalism,audio,cat9,subcat24
998,2448,2389,Little Ltd,Decentralized bandwidth-monitored ability,6900.0,12155.0,successful,419,US,USD,2021-01-25,2021-04-18,False,False,journalism/audio,journalism,audio,cat9,subcat24
999,602,2153,Giles-Smith,Right-sized web-enabled intranet,9700.0,11929.0,successful,331,US,USD,2022-02-01,2022-02-16,False,False,journalism/audio,journalism,audio,cat9,subcat24

In [21]:
# Drop unwanted columns
campaign_cleaned = campaign_merged_df[['cf_id','contact_id','company_name','description','goal','pledged','outcome','backers_count','country','currency','launch_date','end_date','category_id','subcategory_id']]
campaign_cleaned.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat1,subcat1
1,1175,2288,Werner-Bryant,Virtual uniform frame,1800.0,7991.0,successful,222,US,USD,2020-06-20,2021-01-30,cat1,subcat1
2,873,2067,Stewart LLC,Cloned bi-directional architecture,1300.0,12047.0,successful,113,US,USD,2020-11-29,2021-06-11,cat1,subcat1
3,2568,5989,Castillo-Carey,Cross-platform solution-oriented process improvement,142400.0,21307.0,failed,296,US,USD,2020-05-05,2021-05-30,cat1,subcat1
4,1211,3307,"Wright, Hartman and Yu",User-friendly tertiary array,3300.0,12437.0,successful,131,US,USD,2021-01-29,2021-02-13,cat1,subcat1

In [22]:
# Export the DataFrame as a CSV file. 
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

Extract the contacts.xlsx Data.

In [24]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

Create the Contacts DataFrame
Create a Contacts DataFrame that has the following columns:

A column named "contact_id" that contains the unique number of the contact person.
A column named "first_name" that contains the first name of the contact person.
A column named "last_name" that contains the first name of the contact person.
A column named "email" that contains the email address of the contact person
Then export the DataFrame as a contacts.csv CSV file.

Option 1: Use Pandas to create the contacts DataFrame.

In [25]:
import json
dict_values = []

for item in contact_info_df['contact_info']:
    testlist = []
    y = json.loads(item)
    testlist.append(y['contact_id'])
    testlist.append(y['name'])
    testlist.append(y['email'])
    dict_values.append(testlist)

dict_values

[[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr'],
 [3765, 'Mariana Ellis', 'mariana.ellis@rossi.org'],
 [4187, 'Sofie Woods', 'sofie.woods@riviere.com'],
 [4941, 'Jeanette Iannotti', 'jeanette.iannotti@yahoo.com'],
 [2199, 'Samuel Sorgatz', 'samuel.sorgatz@gmail.com'],
 [5650, 'Socorro Luna', 'socorro.luna@hotmail.com'],
 [5889, 'Carolina Murray', 'carolina.murray@knight.com'],
 [4842, 'Kayla Moon', 'kayla.moon@yahoo.de'],
 [3280, 'Ariadna Geisel', 'ariadna.geisel@rangel.com'],
 [5468, 'Danielle Ladeck', 'danielle.ladeck@scalfaro.net'],
 [3064, 'Tatiana Thompson', 'tatiana.thompson@hunt.net'],
 [4904, 'Caleb Benavides', 'caleb.benavides@rubio.com'],
 [1299, 'Sandra Hardy', 'sandra.hardy@web.de'],
 [5602, 'Lotti Morris', 'lotti.morris@yahoo.co.uk'],
 [5753, 'Reinhilde White', 'reinhilde.white@voila.fr'],
 [4495, 'Kerry Patel', 'kerry.patel@hutchinson.com'],
 [4269, 'Sophie Antoine', 'sophie.antoine@andersen.com'],
 [2226, 'Martha Girard', 'martha.girard@web.de'],
 [1558, 'Stephanie King', 'stephanie.king@cervantes.com'],
 [2307, 'Amanda Palmer', 'amanda.palmer@didier.fr'],
 [2900, 'Lina Alcala', 'lina.alcala@vespa.net'],
 [5695, 'Itzel Murphy', 'itzel.murphy@muelichen.de'],
 [5708, 'Filippo Parry', 'filippo.parry@live.com'],
 [1663, 'Katelyn Cole', 'katelyn.cole@fiebig.com'],
 [3605, 'Brian Novak', 'brian.novak@ford.net'],
 [4678, 'Cilly Gay', 'cilly.gay@callegaro.it'],
 [2251, 'Yolanda Snyder', 'yolanda.snyder@gmx.de'],
 [6202, 'Evelin Odonnell', 'evelin.odonnell@ibarra.net'],
 [3715, 'Ingeborg Alba', 'ingeborg.alba@hotmail.com'],
 [4242, 'Marina Madrid', 'marina.madrid@galarza-alba.com'],
 [4326, 'Sheila Goodwin', 'sheila.goodwin@yahoo.com'],
 [5560, 'Valeria Rich', 'valeria.rich@turchetta-mondadori.it'],
 [4002, 'Dustin Camacho', 'dustin.camacho@rhodes.org.au'],
 [3813, 'Amalia Marenzio', 'amalia.marenzio@grupo.com'],
 [5336, 'Gian Long', 'gian.long@hotmail.com'],
 [4994, 'Stewart Hunt', 'stewart.hunt@anderson-vargas.biz'],
 [1471, 'Greca Ruiz', 'greca.ruiz@carr.co.uk'],
 [4482, 'Gerald Olivera', 'gerald.olivera@outlook.com'],
 [3241, 'Jaqueline Wallace', 'jaqueline.wallace@gmail.com'],
 [3477, 'John Lane', 'john.lane@gregoire.fr'],
 [2265, 'Pero Joly', 'pero.joly@bernard.net'],
 [5911, 'Chad Turner', 'chad.turner@gmail.com'],
 [2288, 'Adam Zavala', 'adam.zavala@guichard.fr'],
 [4064, 'Tyler Rivera', 'tyler.rivera@guajardo-ozuna.com'],
 [1294, 'Jens Graham', 'jens.graham@jones-buckley.com'],
 [5008, 'Virginia Caetani', 'virginia.caetani@sosa.biz'],
 [3604, 'Martino Wagner', 'martino.wagner@laposte.net'],
 [3263, 'Martin Meyer', 'martin.meyer@davis.co.uk'],
 [5631, 'Marguerite Walls', 'marguerite.walls@martinez.fr'],
 [2851, 'Peter Vogt', 'peter.vogt@yahoo.com'],
 [3714, 'Nicholas Christian', 'nicholas.christian@hotmail.de'],
 [1664, 'Susi Steinberg', 'susi.steinberg@preiss.com'],
 [5027, 'Tammy Ramazzotti', 'tammy.ramazzotti@gmail.com'],
 [3070, 'Abdul Thomas', 'abdul.thomas@vasari.com'],
 [4248, 'Justin Luxardo', 'justin.luxardo@googlemail.com'],
 [2034, 'Antonio Gibson', 'antonio.gibson@faust.net'],
 [4085, 'Jeremy Gomez', 'jeremy.gomez@oconnor.org'],
 [3569, 'Raymond Solorzano', 'raymond.solorzano@gmail.com'],
 [3889, 'Flora Harris', 'flora.harris@hotmail.com.au'],
 [3136, 'Cheryl Boyd', 'cheryl.boyd@segni.it'],
 [2103, 'Rhys Leiva', 'rhys.leiva@gmx.de'],
 [2329, 'Mariano Prieto', 'mariano.prieto@vodafone.it'],
 [3325, 'Laurie Fibonacci', 'laurie.fibonacci@gmail.com'],
 [3131, 'David Rudolph', 'david.rudolph@nelson.com'],
 [4995, 'Bryan Ross', 'bryan.ross@yahoo.com'],
 [3631, 'Ubaldo Brown', 'ubaldo.brown@philippe.com'],
 [5373, 'Clelia Faulkner', 'clelia.faulkner@hotmail.com'],
 [3126, 'Sara Erickson', 'sara.erickson@yahoo.de'],
 [2194, 'Rupert Valle', 'rupert.valle@filogamo.it'],
 [2906, 'Puccio Kitzmann', 'puccio.kitzmann@yahoo.com'],
 [2611, 'Thomas Hutchinson', 'thomas.hutchinson@gmx.de'],
 [2374, 'Abelardo Castro', 'abelardo.castro@gmail.com'],
 [3254, 'Greco Walker', 'greco.walker@yahoo.com'],
 [3571, 'Miranda Lacombe', 'miranda.lacombe@longoria-vanegas.net'],
 [2812, 'Diana Schuchhardt', 'diana.schuchhardt@libero.it'],
 [3961, 'Stacey Knox', 'stacey.knox@corporacin.com'],
 [3872, 'Glen Faivre', 'glen.faivre@yahoo.com'],
 [4736, 'Andrew Torres', 'andrew.torres@ruiz-torres.org'],
 [5119, 'Denny Fritz', 'denny.fritz@despacho.biz'],
 [5725, 'Martyn Caldera', 'martyn.caldera@hotmail.co.uk'],
 [4037, 'Abigail Foster', 'abigail.foster@taylor.net'],
 [2109, 'Anthony Hauffer', 'anthony.hauffer@tlustek.org'],
 [3283, 'Roger Gerlach', 'roger.gerlach@may-mitchell.co.uk'],
 [6181, 'Christopher Poirier', 'christopher.poirier@hotmail.com'],
 [3251, 'Branka Traore', 'branka.traore@jacobi.com'],
 [3443, 'Briana Etienne', 'briana.etienne@bishop-coates.com'],
 [2988, 'Brandon Olson', 'brandon.olson@prince-moreno.net'],
 [1673, 'Celia Ungaretti', 'celia.ungaretti@fox.com'],
 [2085, 'Barbara Guibert', 'barbara.guibert@casares-sanches.com'],
 [1672, 'Daniela Bell', 'daniela.bell@vollbrecht.org'],
 [4426, 'Phyllis Gurule', 'phyllis.gurule@rodriguez-pham.com'],
 [3211, 'Alejandra Joseph', 'alejandra.joseph@escalante-abrego.biz'],
 [3190, 'Giulio Bohlander', 'giulio.bohlander@dbmail.com'],
 [2081, 'Amber Weller', 'amber.weller@toso.eu'],
 [3185, 'Mary Etzold', 'mary.etzold@conrad-harrison.com'],
 [5044, 'Amy Georges', 'amy.georges@raedel.de'],
 [1883, 'Jennifer Giraud', 'jennifer.giraud@yahoo.com'],
 [2067, 'Rosie Peltier', 'rosie.peltier@voila.fr'],
 [4604, 'Oreste Ward', 'oreste.ward@proyectos.com'],
 [3203, 'Luis Edwards', 'luis.edwards@live.com'],
 [5758, 'Fiona Griffiths', 'fiona.griffiths@curatoli-verdone.it'],
 [5755, 'Sally Raya', 'sally.raya@tarchetti.it'],
 [5150, 'Carolyn Charpentier', 'carolyn.charpentier@hotmail.de'],
 [4181, 'Nathalie Alvarez', 'nathalie.alvarez@live.com'],
 [3006, 'Abril Lowery', 'abril.lowery@novak.net'],
 [4865, 'Ottone Sullivan', 'ottone.sullivan@hussain-kaur.com'],
 [2862, 'Esmeralda Sollima', 'esmeralda.sollima@visintini.it'],
 [6070, 'Silvia Gierschner', 'silvia.gierschner@tele2.it'],
 [5300, 'Kyle Cunningham', 'kyle.cunningham@voila.fr'],
 [3486, 'Anel Carpentier', 'anel.carpentier@klein-joseph.org'],
 [5989, 'Sarah Davis', 'sarah.davis@david.com'],
 [2849, 'Luke Klein', 'luke.klein@hotmail.com'],
 [1612, 'Gudrun Mueller', 'gudrun.mueller@dillon-fuller.info'],
 [3307, 'Melissa Canali', 'melissa.canali@libero.it'],
 [5288, 'Gabrielle Ayala', 'gabrielle.ayala@hotmail.com'],
 [6026, 'Laura Buckley', 'laura.buckley@ryan.org'],
 [2212, 'Wilfrido Lorch', 'wilfrido.lorch@leclerc.fr'],
 [4591, 'Robert Bruder', 'robert.bruder@manzoni.com'],
 [2771, 'Phillip Soliz', 'phillip.soliz@outlook.com'],
 [5682, 'Alex Smith', 'alex.smith@fournier.fr'],
 [5368, 'Jessica Martinez', 'jessica.martinez@salieri.com'],
 [3706, 'Kelly Carter', 'kelly.carter@hotmail.com.au'],
 [4034, 'Ahmad Sosa', 'ahmad.sosa@gmail.com'],
 [3209, 'Toralf Iglesias', 'toralf.iglesias@borrego.com'],
 [2384, 'Irene Anichini', 'irene.anichini@yahoo.com'],
 [3074, 'Alicia Cainero', 'alicia.cainero@yahoo.com'],
 [2031, 'Tracey Laboy', 'tracey.laboy@bell.biz'],
 [5873, 'Donald Reynaud', 'donald.reynaud@green.edu.au'],
 [5501, 'Venancio Stadelmann', 'venancio.stadelmann@gmx.de'],
 [3489, 'Seth Olivier', 'seth.olivier@yahoo.com'],
 [4210, 'Dennis Boaga', 'dennis.boaga@gmx.de'],
 [6151, 'Pedro Wilson', 'pedro.wilson@outlook.com'],
 [6047, 'Roland Weihmann', 'roland.weihmann@gmail.com'],
 [5445, 'Hector Morrison', 'hector.morrison@web.de'],
 [5493, 'Evangelos Peters', 'evangelos.peters@sanchez.net'],
 [6036, 'Gerardo Hamilton', 'gerardo.hamilton@libero.it'],
 [2368, 'Meta Cuzzocrea', 'meta.cuzzocrea@howard-jensen.org'],
 [1501, 'Alma Raymond', 'alma.raymond@tin.it'],
 [4351, 'Kathleen Solimena', 'kathleen.solimena@wallace.biz'],
 [3096, 'Zacharie Cordier', 'zacharie.cordier@gmail.com'],
 [6162, 'Riza Techer', 'riza.techer@yahoo.com'],
 [1433, 'Enrique Guillen', 'enrique.guillen@hotmail.co.uk'],
 [2720, 'Tristan Weeks', 'tristan.weeks@pena.com'],
 [5251, 'Natalie Lerma', 'natalie.lerma@boucher.com'],
 [1797, 'Rodney Hamon', 'rodney.hamon@hotmail.com'],
 [1656, 'Adalberto Lombardo', 'adalberto.lombardo@sfr.fr'],
 [1346, 'Florencia Querini', 'florencia.querini@gmail.com'],
 [2989, 'Liam Rolland', 'liam.rolland@yahoo.fr'],
 [5629, 'Ian Kelly', 'ian.kelly@reeves.com.au'],
 [3456, 'Mehdi Todd', 'mehdi.todd@web.de'],
 [3229, 'Rembrandt Liguori', 'rembrandt.liguori@davis.org'],
 [2277, 'Irmi Schweitzer', 'irmi.schweitzer@ozuna.com'],
 [1276, 'Gioffre Stein', 'gioffre.stein@hotmail.com.au'],
 [3694, 'Frida Villarreal', 'frida.villarreal@hotmail.de'],
 [2260, 'Steffen Mangold', 'steffen.mangold@paul.net'],
 [5374, 'Elias Marin', 'elias.marin@herve.net'],
 [4420, 'Roman Gonzalez', 'roman.gonzalez@anderson.net'],
 [3849, 'Reina Middleton', 'reina.middleton@hotmail.com'],
 [1638, 'Sandro Moran', 'sandro.moran@hotmail.de'],
 [5230, 'Gebhard Thanel', 'gebhard.thanel@gmail.com'],
 [1763, 'Antonino Bolander', 'antonino.bolander@gmail.com'],
 [4323, 'Karl Trevisani', 'karl.trevisani@anguissola.it'],
 [5256, 'Silvester Brookes', 'silvester.brookes@franco.org'],
 [4836, 'Octavio Pratt', 'octavio.pratt@web.de'],
 [5981, 'Rebecca Greer', 'rebecca.greer@hotmail.com'],
 [1463, 'Pierina Gaggini', 'pierina.gaggini@free.fr'],
 [4577, 'Robin Schleich', 'robin.schleich@rogers-barrera.biz'],
 [4951, 'Sergio Abbott', 'sergio.abbott@moore.net.au'],
 [3567, 'Gilberto Evans', 'gilberto.evans@salcedo-archuleta.net'],
 [5475, 'James Elliott', 'james.elliott@gmail.com'],
 [2114, 'Timoteo Bolnbach', 'timoteo.bolnbach@laboratorios.com'],
 [5216, 'Tonino Stanley', 'tonino.stanley@hotmail.com'],
 [1665, 'Margaretha Murialdo', 'margaretha.murialdo@meunier.com'],
 [6051, 'Bianca Drubin', 'bianca.drubin@libero.it'],
 [3983, 'Kaylee Hoffmann', 'kaylee.hoffmann@poulain.com'],
 [2966, 'Teresa Vecellio', 'teresa.vecellio@yahoo.com'],
 [4478, 'Emine Tacchini', 'emine.tacchini@dbmail.com'],
 [4238, 'Dawn Cortez', 'dawn.cortez@gmail.com'],
 [4404, 'Emily Cundari', 'emily.cundari@clark.com.au'],
 [5666, 'Eleanor Hall', 'eleanor.hall@hotmail.com'],
 [3691, 'Monique Delgadillo', 'monique.delgadillo@hotmail.co.uk'],
 [2703, 'Arnaude Warner', 'arnaude.warner@gmail.com'],
 [4253, 'Jason Howell', 'jason.howell@gmx.de'],
 [5652, 'Nicole Mccullough', 'nicole.mccullough@hall.com'],
 [3279, 'Rosmarie Esquibel', 'rosmarie.esquibel@bouygtel.fr'],
 [3233, 'Leonor Ferreira', 'leonor.ferreira@gmail.com'],
 [3017, 'Brett Jones', 'brett.jones@alice.it'],
 [3482, 'Nino Bien', 'nino.bien@gmail.com'],
 [2166, 'Jemma Tate', 'jemma.tate@hotmail.de'],
 [4146, 'Denis Rogers', 'denis.rogers@poste.it'],
 [2651, 'Vanesa Khan', 'vanesa.khan@voila.fr'],
 [1409, 'Victoria Ojeda', 'victoria.ojeda@doehn.com'],
 [3717, 'Eugenio Martin', 'eugenio.martin@yahoo.de'],
 [3963, 'Nancy Hayes', 'nancy.hayes@hotmail.com'],
 [2152, 'Lara Jacob', 'lara.jacob@buckley.org'],
 [2974, 'Gino Hernandez', 'gino.hernandez@covarrubias.com'],
 [1268, 'Vicente Tijerina', 'vicente.tijerina@montanariello.com'],
 [1822, 'Michele Brambilla', 'michele.brambilla@yahoo.com'],
 [5066, 'Dana Ritacca', 'dana.ritacca@gmail.com'],
 [5075, 'Mitchell Bachmann', 'mitchell.bachmann@suarez-cruz.com'],
 [3855, 'Vincenza Key', 'vincenza.key@adams.com'],
 [5923, 'Salvador Gaillard', 'salvador.gaillard@yahoo.de'],
 [1867, 'Diane Rogner', 'diane.rogner@kelly.co.uk'],
 [4376, 'Josette Laine', 'josette.laine@saracino-parisi.net'],
 [2785, 'Courtney Fiebig', 'courtney.fiebig@doerschner.com'],
 [5884, 'Hugues Oliver', 'hugues.oliver@stiffel.com'],
 [2441, 'Espartaco Willis', 'espartaco.willis@hotmail.com'],
 [1243, 'Flavia Yoder', 'flavia.yoder@hotmail.de'],
 [3411, 'Casey Flores', 'casey.flores@baggio.org'],
 [2467, 'Calogero Cross', 'calogero.cross@mercantini.it'],
 [1850, 'Charles Begum', 'charles.begum@laboratorios.info'],
 [2604, 'Adina Pollard', 'adina.pollard@outlook.com'],
 [1693, 'Natasha Lara', 'natasha.lara@outlook.com'],
 [2969, 'Benita Pottier', 'benita.pottier@sfr.fr'],
 [1544, 'Elizabeth Valdivia', 'elizabeth.valdivia@gmail.com'],
 [4149, 'Mattia Huet', 'mattia.huet@aol.de'],
 [3463, 'Geza Howard', 'geza.howard@voila.fr'],
 [2939, 'Lauren Guillaume', 'lauren.guillaume@sorgatz.org'],
 [2202, 'Joanna Baxter', 'joanna.baxter@bruce-wright.com'],
 [1728, 'Tracy Metz', 'tracy.metz@bryant.info'],
 [5362, 'Birgit Pena', 'birgit.pena@armellini.it'],
 [4840, 'Elvira Papafava', 'elvira.papafava@ifrance.com'],
 [2955, 'Ernest Delorme', 'ernest.delorme@dowerg.de'],
 [5354, 'Christy Grossi', 'christy.grossi@alarcon-tafoya.com'],
 [3847, 'Hermelinda Olmos', 'hermelinda.olmos@portillo.com'],
 [3025, 'Herbert Fraser', 'herbert.fraser@holloway.org.au'],
 [1615, 'Giancarlo Heydrich', 'giancarlo.heydrich@hotmail.com'],
 [5154, 'Constance Maldonado', 'constance.maldonado@spiess.net'],
 [5005, 'Giampiero Carlier', 'giampiero.carlier@hotmail.com'],
 [1349, 'Carlo Jacquot', 'carlo.jacquot@hotmail.com'],
 [3670, 'Gabriel Robles', 'gabriel.robles@yahoo.com'],
 [2912, 'Gerd Gunpf', 'gerd.gunpf@gmail.com'],
 [4336, 'Ashley Hellwig', 'ashley.hellwig@libero.it'],
 [5576, 'Patrick Rosas', 'patrick.rosas@yahoo.com'],
 [2736, 'Lilla Leonard', 'lilla.leonard@jungfer.com'],
 [3321, 'Tony Nicolas', 'tony.nicolas@morrocco-seddio.net'],
 [3353, 'Allegra Benedetti', 'allegra.benedetti@miller.com'],
 [2336, 'Camille Tafuri', 'camille.tafuri@aol.de'],
 [4369, 'Juan Wheeler', 'juan.wheeler@gilmore.net'],
 [4464, 'Leopoldo Johnson', 'leopoldo.johnson@hotmail.com.au'],
 [5626, 'Dietmar Grenier', 'dietmar.grenier@tele2.it'],
 [1669, 'Leonid Scholl', 'leonid.scholl@collin.com'],
 [5544, 'Olivie Contarini', 'olivie.contarini@marshall-wright.biz'],
 [6078, 'Jeffery Lacroix', 'jeffery.lacroix@medina.org'],
 [2580, 'Edeltraud Chavez', 'edeltraud.chavez@hotmail.com.au'],
 [3592, 'Mesut Morvan', 'mesut.morvan@gmail.com'],
 [4914, 'Gregory Jackson', 'gregory.jackson@ortiz.com'],
 [3848, 'Nicola Rossi', 'nicola.rossi@berry.org'],
 [2619, 'Eddie Collazo', 'eddie.collazo@gmail.com'],
 [4605, 'Philippe Gardner', 'philippe.gardner@howells-jones.net'],
 [6147, 'Roy Fox', 'roy.fox@tejeda.com'],
 [1383, 'Heiderose Garcia', 'heiderose.garcia@noos.fr'],
 [1757, 'Claudine Rowley', 'claudine.rowley@industrias.com'],
 [4390, 'Astrid Roht', 'astrid.roht@fastwebnet.it'],
 [4165, 'Auguste Burnett', 'auguste.burnett@yahoo.fr'],
 [4529, 'Pellegrino Allen', 'pellegrino.allen@gmail.com'],
 [6084, 'Angela Bowers', 'angela.bowers@laboratorios.com'],
 [2916, 'Michael Descamps', 'michael.descamps@gmail.com'],
 [2005, 'Heidelore Kennedy', 'heidelore.kennedy@guinizzelli.org'],
 [2261, 'Lucrezia Koch', 'lucrezia.koch@petit.com'],
 [5342, 'Ivan Accardo', 'ivan.accardo@web.de'],
 [4087, 'Karen Avogadro', 'karen.avogadro@yahoo.com'],
 [2761, 'Laetitia Gallet', 'laetitia.gallet@aubry.org'],
 [2908, 'Amico Gosselin', 'amico.gosselin@shaw.info'],
 [2155, 'Ilaria Bowen', 'ilaria.bowen@hotmail.it'],
 [5642, 'Marlen Coardi', 'marlen.coardi@colletti.eu'],
 [6217, 'Rafael Alexander', 'rafael.alexander@jenkins.com'],
 [4222, 'Herma Gabbana', 'herma.gabbana@hotmail.com'],
 [4798, 'Zachary Vespucci', 'zachary.vespucci@industrias.com'],
 [5660, 'Marisol Richard', 'marisol.richard@gmail.com'],
 [5000, 'Joseph Glover', 'joseph.glover@laposte.net'],
 [2809, 'Lauretta Neal', 'lauretta.neal@hotmail.de'],
 [3349, 'Simone Sauvage', 'simone.sauvage@yahoo.com'],
 [3647, 'Ramona Brooks', 'ramona.brooks@kensy.de'],
 [5745, 'Gioele Schwital', 'gioele.schwital@moody.com'],
 [2583, 'Elena Jimenez', 'elena.jimenez@yahoo.com.au'],
 [5441, 'Pam Vargas', 'pam.vargas@guillot.net'],
 [2090, 'Alison Morales', 'alison.morales@lewis.com'],
 [3386, 'Marc Aumann', 'marc.aumann@holland.com'],
 [1816, 'Carla Butler', 'carla.butler@yahoo.com'],
 [4718, 'Dionigi Bruce', 'dionigi.bruce@industrias.com'],
 [1677, 'Frank Henry', 'frank.henry@yahoo.com'],
 [4218, 'Brent Pons', 'brent.pons@proyectos.net'],
 [4548, 'Patricia Liebelt', 'patricia.liebelt@baca.org'],
 [1431, 'Micheletto Sykes', 'micheletto.sykes@thompson-thompson.com'],
 [2830, 'Rose Blanc', 'rose.blanc@grupo.com'],
 [4400, 'Vincent Singh', 'vincent.singh@gmail.com'],
 [5773, 'Jamie Peacock', 'jamie.peacock@interiano-nordio.com'],
 [4161, 'Giorgia Dijoux', 'giorgia.dijoux@paul.com'],
 [2062, 'Serena Piacentini', 'serena.piacentini@yahoo.de'],
 [3458, 'Dimitri Posada', 'dimitri.posada@gmail.com'],
 [3174, 'Alexa Barillaro', 'alexa.barillaro@ramos.net'],
 [5565, 'Megan Kuhl', 'megan.kuhl@despacho.com'],
 [1906, 'Kaitlyn Farinelli', 'kaitlyn.farinelli@outlook.com'],
 [5479, 'Jonathan Castellitto', 'jonathan.castellitto@libero.it'],
 [4320, 'Lisa Terragni', 'lisa.terragni@proyectos.com'],
 [4213, 'Olivier Petrucelli', 'olivier.petrucelli@letta-raurica.eu'],
 [3373, 'Jos Trobbiani', 'jos.trobbiani@samson.com'],
 [4184, 'Mirjam Dawson', 'mirjam.dawson@yahoo.com'],
 [5472, 'Javier Tessier', 'javier.tessier@mclaughlin.biz'],
 [5559, 'Mirjana Collins', 'mirjana.collins@hotmail.com'],
 [5419, 'Vanessa Tschentscher', 'vanessa.tschentscher@mitchell.com'],
 [4171, 'Antonina Cobb', 'antonina.cobb@gibson.org'],
 [1302, 'Bernard Durand', 'bernard.durand@royer.com'],
 [3520, 'Corey Greggio', 'corey.greggio@johnson.org.au'],
 [6010, 'Rodolfo Couturier', 'rodolfo.couturier@tim.it'],
 [4617, 'Pierre Cardenas', 'pierre.cardenas@luzi-bonomo.eu'],
 [1417, 'Romeo Surian', 'romeo.surian@batista.com'],
 [4770, 'Ivo Moreno', 'ivo.moreno@hotmail.com'],
 [4328, 'Federico Marie', 'federico.marie@jourdan.fr'],
 [5171, 'Maggie Boito', 'maggie.boito@yahoo.com'],
 [4394, 'Brianna Hanson', 'brianna.hanson@stanley.com'],
 [1794, 'Heiko Bourgeois', 'heiko.bourgeois@togliatti.com'],
 [3510, 'Benito Gritti', 'benito.gritti@gmail.com'],
 [2487, 'Mitzy Junk', 'mitzy.junk@zaragoza.com'],
 [2215, 'Samantha Lowe', 'samantha.lowe@praga.it'],
 [4136, 'Ernesto Nerger', 'ernesto.nerger@middleton.co.uk'],
 [3723, 'Melinda Canova', 'melinda.canova@orange.fr'],
 [5842, 'Mohammad Hartung', 'mohammad.hartung@hotmail.com'],
 [3289, 'Ben Maillot', 'ben.maillot@ramos.net'],
 [1249, 'Isabel Pruschke', 'isabel.pruschke@gmail.com'],
 [5409, 'Linda Franceschi', 'linda.franceschi@richards.net'],
 [2951, 'Olivia Striebitz', 'olivia.striebitz@gmail.com'],
 [3432, 'Penny Watson', 'penny.watson@matthews.net'],
 [2297, 'Manfred James', 'manfred.james@davies.org'],
 [6161, 'Hazel Pierce', 'hazel.pierce@outlook.com'],
 [4603, 'Alf Bates', 'alf.bates@dunn.com'],
 [5818, 'Scott Gough', 'scott.gough@industrias.com'],
 [4270, 'Konrad Briones', 'konrad.briones@fierro.com'],
 [6007, 'Mathilde Kruschwitz', 'mathilde.kruschwitz@yahoo.com'],
 [4084, 'Irma Gemito', 'irma.gemito@googlemail.com'],
 [1340, 'Antoine Guyon', 'antoine.guyon@yahoo.com'],
 [5675, 'William Gibilisco', 'william.gibilisco@gaillard.com'],
 [2010, 'Judith Butte', 'judith.butte@fischer-vaughn.info'],
 [6201, 'Joanne Henderson', 'joanne.henderson@gmail.com'],
 [1791, 'Ludovica Arellano', 'ludovica.arellano@morandi-argento.com'],
 [3314, 'Catherine Gray', 'catherine.gray@hotmail.com'],
 [5852, 'Franco Fioravanti', 'franco.fioravanti@barry-gill.com.au'],
 [4618, 'Heather Zimmer', 'heather.zimmer@bluemel.de'],
 [2618, 'Hortense Taylor', 'hortense.taylor@chambers.biz'],
 [4967, 'Livia Ernst', 'livia.ernst@colas.fr'],
 [4594, 'Toby Etzler', 'toby.etzler@industrias.com'],
 [2080, 'Ennio Leoncavallo', 'ennio.leoncavallo@sanchez.org'],
 [2793, 'Philippine Vaca', 'philippine.vaca@hotmail.com'],
 [4890, 'Rhonda Phillips', 'rhonda.phillips@yahoo.com'],
 [3528, 'Alphonse Nitto', 'alphonse.nitto@voila.fr'],
 [5810, 'Karina Arreola', 'karina.arreola@yahoo.com.au'],
 [5720, 'Denise Wood', 'denise.wood@mantegna.com'],
 [4593, 'Burghard Rosenow', 'burghard.rosenow@hotmail.com'],
 [3186, 'Friedl Powell', 'friedl.powell@laposte.net'],
 [5136, 'Benjamin Schultz', 'benjamin.schultz@rivero-davila.com'],
 [2646, 'Rachel Ulibarri', 'rachel.ulibarri@schueler.com'],
 [3460, 'Silvano Blanchet', 'silvano.blanchet@yahoo.com'],
 [4345, 'Kurt Sauer', 'kurt.sauer@almanza.biz'],
 [2690, 'Nayeli Gehringer', 'nayeli.gehringer@hotmail.com'],

In [26]:
contact_info_df = pd.DataFrame(dict_values)
contact_info_df

        0                     1                                          2
0    4661       Cecilia Velasco               cecilia.velasco@rodrigues.fr
1    3765         Mariana Ellis                    mariana.ellis@rossi.org
2    4187           Sofie Woods                    sofie.woods@riviere.com
3    4941     Jeanette Iannotti                jeanette.iannotti@yahoo.com
4    2199        Samuel Sorgatz                   samuel.sorgatz@gmail.com
..    ...                   ...                                        ...
995  3684         Whitney Noack             whitney.noack@laboratorios.org
996  5784  Gelsomina Migliaccio              gelsomina.migliaccio@junk.com
997  1498   Evangelista Pereira  evangelista.pereira@thompson-peterson.biz
998  6073        Gareth Comolli                  gareth.comolli@tiscali.fr
999  4939     Michelangelo Hess              michelangelo.hess@bouygtel.fr

[1000 rows x 3 columns]

In [27]:
contact_info_df = contact_info_df.rename(columns={0:'contact_id', 1:'name', 2:'email'})
contact_info_df

,contact_id,name,email
0,4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
1,3765,Mariana Ellis,mariana.ellis@rossi.org
2,4187,Sofie Woods,sofie.woods@riviere.com
3,4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
4,2199,Samuel Sorgatz,samuel.sorgatz@gmail.com
...,...,...,...
995,3684,Whitney Noack,whitney.noack@laboratorios.org
996,5784,Gelsomina Migliaccio,gelsomina.migliaccio@junk.com
997,1498,Evangelista Pereira,evangelista.pereira@thompson-peterson.biz
998,6073,Gareth Comolli,gareth.comolli@tiscali.fr
999,4939,Michelangelo Hess,michelangelo.hess@bouygtel.fr

In [28]:
contact_info_df.dtypes

contact_id     int64
name          object
email         object
dtype: object

In [30]:
contact_info_df['first_name'] = ""
contact_info_df['last_name'] = ""
for item in range(len(contact_info_df['name'])):
    splt = contact_info_df['name'][item].split(" ")
    contact_info_df['first_name'][item] = splt[0]
    contact_info_df['last_name'][item] = splt[1]
contact_info_df

<ipython-input-30-036612170c9c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contact_info_df['first_name'][item] = splt[0]
<ipython-input-30-036612170c9c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contact_info_df['last_name'][item] = splt[1]

,contact_id,name,email,first_name,last_name
0,4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr,Cecilia,Velasco
1,3765,Mariana Ellis,mariana.ellis@rossi.org,Mariana,Ellis
2,4187,Sofie Woods,sofie.woods@riviere.com,Sofie,Woods
3,4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com,Jeanette,Iannotti
4,2199,Samuel Sorgatz,samuel.sorgatz@gmail.com,Samuel,Sorgatz
...,...,...,...,...,...
995,3684,Whitney Noack,whitney.noack@laboratorios.org,Whitney,Noack
996,5784,Gelsomina Migliaccio,gelsomina.migliaccio@junk.com,Gelsomina,Migliaccio
997,1498,Evangelista Pereira,evangelista.pereira@thompson-peterson.biz,Evangelista,Pereira
998,6073,Gareth Comolli,gareth.comolli@tiscali.fr,Gareth,Comolli
999,4939,Michelangelo Hess,michelangelo.hess@bouygtel.fr,Michelangelo,Hess

In [31]:
del contact_info_df['name']
contact_info_df

,contact_id,email,first_name,last_name
0,4661,cecilia.velasco@rodrigues.fr,Cecilia,Velasco
1,3765,mariana.ellis@rossi.org,Mariana,Ellis
2,4187,sofie.woods@riviere.com,Sofie,Woods
3,4941,jeanette.iannotti@yahoo.com,Jeanette,Iannotti
4,2199,samuel.sorgatz@gmail.com,Samuel,Sorgatz
...,...,...,...,...
995,3684,whitney.noack@laboratorios.org,Whitney,Noack
996,5784,gelsomina.migliaccio@junk.com,Gelsomina,Migliaccio
997,1498,evangelista.pereira@thompson-peterson.biz,Evangelista,Pereira
998,6073,gareth.comolli@tiscali.fr,Gareth,Comolli
999,4939,michelangelo.hess@bouygtel.fr,Michelangelo,Hess

In [32]:
contact_info_df = contact_info_df[['contact_id','first_name','last_name','email']]
contact_info_df

,contact_id,first_name,last_name,email
0,4661,Cecilia,Velasco,cecilia.velasco@rodrigues.fr
1,3765,Mariana,Ellis,mariana.ellis@rossi.org
2,4187,Sofie,Woods,sofie.woods@riviere.com
3,4941,Jeanette,Iannotti,jeanette.iannotti@yahoo.com
4,2199,Samuel,Sorgatz,samuel.sorgatz@gmail.com
...,...,...,...,...
995,3684,Whitney,Noack,whitney.noack@laboratorios.org
996,5784,Gelsomina,Migliaccio,gelsomina.migliaccio@junk.com
997,1498,Evangelista,Pereira,evangelista.pereira@thompson-peterson.biz
998,6073,Gareth,Comolli,gareth.comolli@tiscali.fr
999,4939,Michelangelo,Hess,michelangelo.hess@bouygtel.fr

In [33]:

contact_info_df.dtypes

contact_id     int64
first_name    object
last_name     object
email         object
dtype: object

In [35]:
# Export the DataFrame as a CSV file. 
contact_info_df.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

Option 2: Use regex to create the contacts DataFrame.

In [37]:
import re
contact_info_df_copy = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df_copy.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [41]:
type(contact_info_df_copy['contact_info'][1])

str

In [60]:
# Extract the four-digit contact ID number.
contact_info_df_copy['contact_id'] = ''
ls = []
for item in contact_info_df_copy['contact_info']:
  ls.append(re.findall('[0-9]{4}', item)[0])
contact_info_df_copy['contact_id'] = ls
contact_info_df_copy.head()

,contact_info,contact_id
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199

In [61]:
# Check the datatypes.
contact_info_df_copy.dtypes

contact_info    object
contact_id      object
dtype: object

In [62]:
# Convert the "contact_id" column to an int64 data type.
contact_info_df_copy['contact_id'] = contact_info_df_copy['contact_id'].astype(int)
contact_info_df_copy.dtypes

contact_info    object
contact_id       int64
dtype: object

In [63]:
# Extract the email from the contacts and add the values to a new column.
p = '(?:"name": ")(\s*\w{1,}\s*\w{1,})'
x = pd.DataFrame(contact_info_df_copy['contact_info'].str.extractall(p, flags=re.I))
x.reset_index(inplace = True)
x = x[0]
contact_info_df_copy['name'] = x
contact_info_df_copy.head()

,contact_info,contact_id,name
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz

In [64]:
# Extract the email from the contacts and add the values to a new column.
q = '(?:"email": ")(.*)(?:"})'
email = pd.DataFrame(contact_info_df_copy['contact_info'].str.extractall(q, flags=re.I))
email.reset_index(inplace = True)
email = email[0]
contact_info_df_copy['email'] = email
contact_info_df_copy.head()

,contact_info,contact_id,name,email
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis,mariana.ellis@rossi.org
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods,sofie.woods@riviere.com
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz,samuel.sorgatz@gmail.com

In [65]:
contact_info_clean = contact_info_df_copy[['contact_id', 'name', 'email']]
contact_info_clean.head()

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [66]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
p = '(\s*\w{1,})(?:\s*\w{1,})'
first_name = pd.DataFrame(contact_info_clean['name'].str.extractall(p, flags=re.I))
first_name.reset_index(inplace = True)
first_name = first_name[0]
contact_info_clean['first_name'] = first_name
contact_info_clean.head()

   contact_id               name                         email first_name
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr    Cecilia
1        3765      Mariana Ellis       mariana.ellis@rossi.org    Mariana
2        4187        Sofie Woods       sofie.woods@riviere.com      Sofie
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com   Jeanette
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com     Samuel

In [67]:
p = '(?:\s*\w{1,}\s)(\s*\w{1,})'
last_name = pd.DataFrame(contact_info_clean['name'].str.extractall(p, flags=re.I))
last_name.reset_index(inplace = True)
last_name = last_name[0]
contact_info_clean['last_name'] = last_name
contact_info_clean.head()

,contact_id,name,email,first_name,last_name
0,4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr,Cecilia,Velasco
1,3765,Mariana Ellis,mariana.ellis@rossi.org,Mariana,Ellis
2,4187,Sofie Woods,sofie.woods@riviere.com,Sofie,Woods
3,4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com,Jeanette,Iannotti
4,2199,Samuel Sorgatz,samuel.sorgatz@gmail.com,Samuel,Sorgatz

In [68]:
# Drop the contact_name column and reorder the columns
contact_info_clean = contact_info_clean[['contact_id','first_name','last_name','email']]
contact_info_clean.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [69]:
# Check the datatypes one more time before exporting as CSV file.
contact_info_clean.dtypes

contact_id     int64
first_name    object
last_name     object
email         object
dtype: object

In [70]:
# Export the DataFrame as a CSV file. 
contact_info_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)